<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ADV_JAVA</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>testing</description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>com.controller.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>First</display-name>
    <servlet-name>First</servlet-name>
    <servlet-class>com.controller.First</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>First</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycleMethod</display-name>
    <servlet-name>LifeCycleMethod</servlet-name>
    <servlet-class>com.controller.LifeCycleMethod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleMethod</servlet-name>
    <url-pattern>/lcm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycle2</display-name>
    <servlet-name>LifeCycle2</servlet-name>
    <servlet-class>com.controller.LifeCycle2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycle2</servlet-name>
    <url-pattern>/lc2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserThread</display-name>
    <servlet-name>UserThread</servlet-name>
    <servlet-class>com.controller.UserThread</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserThread</servlet-name>
    <url-pattern>/ut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseOnBrowser</display-name>
    <servlet-name>ResponseOnBrowser</servlet-name>
    <servlet-class>com.controller.ResponseOnBrowser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseOnBrowser</servlet-name>
    <url-pattern>/responseOnBrowser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScanFromConsol</display-name>
    <servlet-name>ScanFromConsol</servlet-name>
    <servlet-class>com.controller.ScanFromConsol</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScanFromConsol</servlet-name>
    <url-pattern>/scanFromConsol</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>com.controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/studentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpController</display-name>
    <servlet-name>EmpController</servlet-name>
    <servlet-class>com.controller.EmpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpController</servlet-name>
    <url-pattern>/empController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectArrayList</display-name>
    <servlet-name>RedirectArrayList</servlet-name>
    <servlet-class>com.controller.RedirectArrayList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectArrayList</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckNameOnArray</display-name>
    <servlet-name>CheckNameOnArray</servlet-name>
    <servlet-class>com.controller.CheckNameOnArray</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckNameOnArray</servlet-name>
    <url-pattern>/CheckNameOnArray</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckNameOnArray2</display-name>
    <servlet-name>CheckNameOnArray2</servlet-name>
    <servlet-class>com.controller.CheckNameOnArray2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckNameOnArray2</servlet-name>
    <url-pattern>/CheckNameOnArray2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Session1</display-name>
    <servlet-name>Session1</servlet-name>
    <servlet-class>com.controller.session.Session1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session1</servlet-name>
    <url-pattern>/session1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Session2</display-name>
    <servlet-name>Session2</servlet-name>
    <servlet-class>com.controller.session.Session2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session2</servlet-name>
    <url-pattern>/session2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSession1</display-name>
    <servlet-name>LoginSession1</servlet-name>
    <servlet-class>com.controller.session.LoginSession1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSession1</servlet-name>
    <url-pattern>/LoginSession1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSession2</display-name>
    <servlet-name>LoginSession2</servlet-name>
    <servlet-class>com.controller.session.LoginSession2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSession2</servlet-name>
    <url-pattern>/LoginSession2</url-pattern>
  </servlet-mapping>
</web-app>